*.o
*.pyc
.*.swp
*.deb
*.changes
*.dsc
*.log
.debhelper
.ropeproject
debian/wb-mqtt-iec104
test/test-app
*.gcda
*.gcno
wb-mqtt-iec104
compile_commands.json

# Visual Studio Code
.vscode
.clang-format
.devcontainer

### direnv ###
.direnv
.envrc
